.DS_Store

## frontend ##
# dependencies
/frontend/node_modules
/frontend/package-lock.json
/frontend/.pnp
/frontend/.pnp.js

# testing
/frontend/coverage

# production
/frontend/build

/frontend/ssl

# private files
/frontend/docker-compose.yml

# dummy data
/frontend/public/dummyData.json
/frontend/src/utils/httpRequests.js

# misc
/frontend/.env
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

storage
/.vs/
composer.json
composer.lock
vendor
/hs_err_pid7692.log
/.idea

## backend ##
/api/node_modules
/api/public/hot
/api/public/storage
/api/storage/*.key
/api/vendor/
/api/.env
/api/.env.backup
/api/.phpunit.result.cache
/api/docker-compose.override.yml
/api/Homestead.json
/api/Homestead.yaml
/api/npm-debug.log
/api/yarn-error.log
/api/.idea
/api/.vscode

# frontend built files
/api/resources/views/index.blade.php
/api/public/